.root{

  -fx-font-family: "Lucida Console";
}
.button {

  border: none;
  -fx-background-color:  #0f3063;
  -fx-background-radius :0em;


}
.button:hover {
  -fx-background-color: #19468c;
}

.button:pressed {
-fx-background-color: #7156DD;
}

.button:focused {
-fx-background-color: #7D6cc8;
-fx-border-color : #cdd1d6;
-fx-border-width: 0px 0px 0px 3px;
}